@charset "utf-8";
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
/* 전체 레이아웃 */
body {
  height: 5000px;
  font-family: "Pretendard-Regular";
}
.wrap {
  position: relative;
  display: block;
}

/* 헤더 */
.header {
  width: 100%;
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.inner {
  position: relative;
  width: 100%;
  max-width: 1580px;
  margin: auto;
  /* padding: 0 70px; */
  background-color: #ff2a2a;
}

/* 노란색 바 */
.yellow-bar {
  width: 100%;
  height: 30px;
  background-color: #ffc524;
}
.yellow-bar li {
  width: 100%;
  text-align: center;
  line-height: 30px;
}
.round-box {
  background-color: #fff;
  border-radius: 30px;
  color: #363535;
  font-size: 12px;
  font-weight: 900;
}
#round-box1 {
  padding: 2px 10px;
}
#round-box2 {
  padding: 2px 10px;
}
#round-box3 {
  padding: 2px 10px;
}
.event-txt {
  font-size: 13px;
  color: #000;
}
.event-txt strong {
  color: #1a2867;
  font-weight: 900;
}

/* 파란색, 흰색 바 */
.nav-bar {
  width: 100%;
  position: relative;
  /* display: flex;
  flex-direction: column; */
}

.scrolled {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
}
/* 파란색 바 */
.blue-bar {
  display: flex;
align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 7%;
  margin: auto;
  background-color: #1a2867;
}
.blue-bar .logo-white {
  width: 123px;
  margin-top: 3px;
}
.blue-bar .logo-white img {
  width: 100%;
}
.blue-bar .inner {
  display: flex;
  justify-content: space-between;
}
.blue-bar .logo-white {
  line-height: 50px;
}
.blue-bar .icons {
  width: 120px;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.blue-bar .icon1 {
  width: 19px;
}
.blue-bar .icon2 {
  width: 17px;
}
.blue-bar .icon3 {
  width: 20px;
}

/* 768 파란색 바 3줄 메뉴 아이콘 */
.blue-bar .icon-menu {
  display: none;
  width: 20px;
  margin-top: 5px;
  z-index: 99999;
  /* background-color: #ae1522; */
}
.blue-bar .icon-menu img {
  width: 100%;
}

/* 하얀색 바 */
.white-bar {
  padding: 0 7%;
  margin: auto;
  width: 100%;
  height: 50px;
  background-color: #fff;
}
.nav {
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  font-weight: bold;
}
.gnb {
  width: 800px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
.gnb a {
  color: #000;
}
.membership a {
  width: 10%;
  text-align: center;
  font-size: 15px;
  color: #1a2867;
}

/* 상단 이미지 영역 */
.image-box {
  position: relative;
  margin: 0;
}
.nav_img_box_margin {
  margin-top: 70px;
}
.image-box > img {
  width: 100%;
  display: block;
}

/* 상단 이미지 768, 390 ver. */
.image-box > .main-banner-tablet {
  display: none;
}
.image-box > .main-banner-mobile {
  display: none;
}

/* 중간 바 blue */
.center-bar {
  position: sticky;
  top: 100px;
  width: 100%;
  height: 50px;
  background-color: #1a2867;
  display: flex;
  justify-content: center;
  z-index: 99;
}
.center-gnb {
  display: flex;
  justify-content: center;
  width: 1200px;
}
.center-gnb li {
  width: 100%;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}
.center-gnb a {
  color: #ffffff;
}

/* 배경 창문 반복 이미지 */
.background {
  background: url("../images/bg4.webp") center;
  background-repeat: repeat-y;
  background-position: top;
}

/* 3층 위 지붕 이미지 */
.top-frame {
  width: 104.7%;
  max-width: 1360px;
  margin-left: -30.1px;
}
.top-frame img {
  width: 100%;
  display: block;
}

/* 콘텐츠 영역 */
.contents {
  width: 100%;
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
}

/* 3층 */
.third-floor {
  position: relative;
  width: 100%;
  background-color: #ebebeb;
}

/* 3층 비디오 */
figure {
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: tomato; */
}
figure video {
  width: 100%;
  max-width: 1220px;
}

/* 영상이랑 메인 콘텐츠 사이 작은 바 */
.middle-frame {
  width: 100%;
  height: 10px;
  background-color: #ebebeb;
}

/* 3층 메인 콘텐츠 */
main {
  position: relative;
  display: flex;
  gap: 2%;
  justify-content: space-between;
  /* height: 610px; */
  margin: 0 40px;
  padding-bottom: 70px;
  background-color: #fff;
}

/* 3층 왼쪽 텍스트 */
.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  /* width: 298px; */
  width: 32%;
  /* margin-top: 10px; */
  padding: 0 40px;
  background-color: rgb(255, 255, 255);
}
.left > h1 {
  margin-bottom: 14px;
  /* gap 으로 10px 더 주고 있음 */
  font-size: 26px;
  font-weight: 800;
  color: #101010;
}
.left > p {
  display: block;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.54;
  color: #575757;
  word-break: keep-all;
}

/* 3층 오른쪽 상품 */
.itemSwiper {
  width: 68%;
  /* margin-top: 10px; */
  display: flex;
  /* background-color: #ffc524; */
}
.itemSwiper .swiper-slide img {
  width: 100%;
}

/* 상세설명 캡션 */
.caption {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
}
.caption .name {
  font-size: 18px;
  font-weight: 900;
  word-break: keep-all;
  line-height: 1.3;
  margin-bottom: 5px;
}
.caption .name a {
  display: block;
  color: #101010;
  cursor: pointer;
}
.caption .name_sub {
  font-size: 15px;
  font-weight: 500;
  color: #818389;
  word-break: keep-all;
  line-height: 1.3;
  margin-bottom: 15px;
}
/* 가격 */
.caption .priceGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.caption .priceGroup .customer {
  font-size: 15px;
  color: #8b8b8b;
  font-weight: 500;
  text-decoration: line-through;
}
.caption .normal_price_area {
  display: flex;
  align-items: flex-end;
  gap: 28px;
  font-size: 15px;
  font-weight: 500;
  color: #000;
}
.caption .normal_price {
  font-size: 20px;
}
.caption .sale_price_area {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: #ae1522;
  /* margin-top: 10px; */
}
.caption .sale_price {
  font-size: 20px;
}
.caption .crmReview {
  margin-top: 4px;
  display: flex;
  align-items: center;
}
.caption .crmReview span {
  position: relative;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
}

/* 2층, 1층 지붕*/
.middle-top-frame {
  width: 102%;
  max-width: 1360px;
  margin-left: -12.5px;
}
.middle-top-frame img {
  width: 100%;
  display: block;
}

/* 하단 이미지 영역 */
.bottom-image-box {
  /* width: 188.3%; */
  /* margin-left: -575px; */
}
.bottom-image-box img {
  width: 100%;
  display: block;
}

/* 풋터 */
footer {
  position: relative;
  width: 100%;
  height: 408px;
  background-color: #1a2867;
  color: #fff;
  padding: 100px 0 80px;
}
.footer-contents {
  position: relative;
  max-width: 1700px;
  padding: 0 20px;
  margin: 0 auto;
  /* text-align: left; */
  display: flex;
  /* align-items: flex-start; */
  justify-content: space-between;
  flex-wrap: wrap;
  /* background-color: cornflowerblue; */
}

/* 풋터 왼쪽 */

/* 로고 노란색 */
.logo-yellow {
  width: 153px;
  padding-bottom: 15px;
}
.logo-yellow img {
  width: 100%;
}

/* 회사 정보 */
.company-info {
  font-size: 13px;
  font-weight: 300;
  padding: 0 0;
  line-height: 2;
  letter-spacing: 0.3px;
}

/* 풋터 오른쪽*/
.footer-right {
  display: flex;
  gap: 60px;
  font-size: 14px;
  width: 42%;
  /* background-color: violet; */
}
.footer-right ul p {
  padding-bottom: 15px;
}
.footer-right a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

/* policy */
.policy p {
  font-weight: 600;
  font-size: 14px;
}
.policy li a {
  line-height: 1.8em;
  font-size: 13px;
  font-weight: 100;
}

/* cs-center */
.cs-center p {
  font-weight: 600;
  font-size: 14px;
}
.cs-center li {
  line-height: 2;
  font-size: 13px;
  font-weight: 100;
}
.cs-center li:last-child {
  margin-top: 30px;
}

/* sns-service */
.sns-service p {
  font-weight: 600;
  font-size: 14px;
}
.sns-service li a img {
  width: 30px;
  height: 30px;
}
