@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* 전체 레이아웃 */
body {
  height: 5000px;
}
.wrap {
  position: relative;
  display: block;
}

/* 헤더 */
.header {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.inner {
  position: relative;
  width: 100%;
  max-width: 1580px;
  margin: auto;
}

/* 노란색 바 */
.yellow-bar {
  width: 100%;
  height: 30px;
  background-color: #ffc524;
}
.yellow-bar li {
  width: 100%;
  text-align: center;
  line-height: 30px;
}
.ronud-box {
  background-color: #fff;
  border-radius: 30px;
  color: #363535;
  font-size: 12px;
  font-weight: 900;
}
#ronud-box1 {
  padding: 2px 10px;
}
#ronud-box2 {
  padding: 2px 10px;
}
#ronud-box3 {
  padding: 2px 10px;
}
.event-txt {
  font-size: 13px;
  color: #000;
}
.event-txt strong {
  color: #1a2867;
  font-weight: 900;
}

/* 파란색 바 */
.blue-bar {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #1a2867;
}
.blue-bar .logo-white img {
  width: 123px;
}
.blue-bar .inner {
  display: flex;
  justify-content: space-between;
}
.blue-bar .logo-white {
  line-height: 50px;
}
.blue-bar .icons {
  width: 120px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.blue-bar .icon1 {
  width: 19px;
}
.blue-bar .icon2 {
  width: 17px;
}
.blue-bar .icon3 {
  width: 20px;
}

/* 하얀색 바 */
.white-bar {
  width: 100%;
  height: 50px;
  background-color: #fff;
}
.nav {
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  font-weight: bold;
}
.gnb {
  width: 800px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
.gnb a {
  color: #000;
}
.membership a {
  width: 10%;
  text-align: center;
  font-size: 15px;
  color: #1a2867;
}

/* 상단 이미지 영역 */
.image-box {
  position: relative;
}
.main-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}
.image-box img {
  display: block;
}

/* 중간 바 blue */
.center-bar {
  width: 100%;
  height: 50px;
  background-color: #1a2867;
  display: flex;
  justify-content: center;
}
.center-gnb {
  display: flex;
  justify-content: center;
  width: 1200px;
}
.center-gnb li {
  width: 100%;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}
.center-gnb a {
  color: #ffffff;
}

/* 배경 영역 */
.background {
  background: url("../images/bg4.webp") center;
  background-repeat: repeat-y;
  background-position: top;
}
.background img {
  width: 100%;
  max-width: 1360px;
  display: block;
  margin: auto;
}
/* 콘텐츠 영역 */
.contents {
  position: relative;
  width: 1300px;
  margin: 0 auto;
}

/* 3층 */
.third-floor {
  position: relative;
  width: 100%;
  background-color: #ff7f7f;
}

/* 3층 상단 지붕 */
.roof-third {
  width: 100%;
  background-color: rgb(48, 235, 104);
  position: relative;
}
/* 3층 비디오 */
figure {
  position: relative;
  width: 100%;
  margin: auto;
display: flex;
justify-content: center;
align-items: center;
}
figure video {
  width: 1280px;
max-width: 100%;
}

/* 3층 메인 콘텐츠 */
.main-third {
  background-color: rgb(252, 159, 255);
  display: flex;
  justify-content: space-between;
  height: 610px;
}
.middle-roof{
  width: 100%;
  height: 10px;
  background-color: red;
}
/* 3층 왼쪽 텍스트 */
.left-third {
display: flex;
flex-direction: column;
}
/* 3층 오른쪽 상품 */
.right-third{
display: flex;
}
.product-list{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.product-list > li {
  width: 255px;
  overflow: hidden;
  cursor: pointer;
}

