@charset "utf-8";
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* 전체 레이아웃 */
body {
  height: 5000px;
  font-family: 'Pretendard-Regular'
}
.wrap {
  position: relative;
  display: block;
}

/* 헤더 */
.header {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.inner {
  position: relative;
  width: 100%;
  max-width: 1580px;
  margin: auto;
}

/* 노란색 바 */
.yellow-bar {
  width: 100%;
  height: 30px;
  background-color: #ffc524;
}
.yellow-bar li {
  width: 100%;
  text-align: center;
  line-height: 30px;
}
.round-box {
  background-color: #fff;
  border-radius: 30px;
  color: #363535;
  font-size: 12px;
  font-weight: 900;
}
#round-box1 {
  padding: 2px 10px;
}
#round-box2 {
  padding: 2px 10px;
}
#round-box3 {
  padding: 2px 10px;
}
.event-txt {
  font-size: 13px;
  color: #000;
}
.event-txt strong {
  color: #1a2867;
  font-weight: 900;
}

/* 파란색 바 */
.blue-bar {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #1a2867;
}
.blue-bar .logo-white img {
  width: 123px;
}
.blue-bar .inner {
  display: flex;
  justify-content: space-between;
}
.blue-bar .logo-white {
  line-height: 50px;
}
.blue-bar .icons {
  width: 120px;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.blue-bar .icon1 {
  width: 19px;
}
.blue-bar .icon2 {
  width: 17px;
}
.blue-bar .icon3 {
  width: 20px;
}

/* 하얀색 바 */
.white-bar {
  width: 100%;
  height: 50px;
  background-color: #fff;
}
.nav {
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  font-weight: bold;
}
.gnb {
  width: 800px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
.gnb a {
  color: #000;
}
.membership a {
  width: 10%;
  text-align: center;
  font-size: 15px;
  color: #1a2867;
}

/* 상단 이미지 영역 */
.image-box {
  padding-top: 130px;
  position: relative;
}
.image-box img {
  width: 100%;
  display: block;
}
.background3{
}


/* .main-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
} */


/* 중간 바 blue */
.center-bar {
  width: 100%;
  height: 50px;
  background-color: #1a2867;
  display: flex;
  justify-content: center;
}
.center-gnb {
  display: flex;
  justify-content: center;
  width: 1200px;
}
.center-gnb li {
  width: 100%;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}
.center-gnb a {
  color: #ffffff;
}

/* 배경 영역 */
.background {
  background: url("../images/bg4.webp") center;
  background-repeat: repeat-y;
  background-position: top;
}
.background img {
  width: 100%;
  max-width: 1360px;
  display: block;
  margin: auto;
}
/* 콘텐츠 영역 */
.contents {
  width: 100%;
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
}

/* 3층 */
.third-floor {
  position: relative;
  width: 100%;
  background-color: #ff7f7f;
}

/* 3층 상단 지붕 */
.roof-third {
  width: 100%;
  background-color: #ebebeb;
  position: relative;
}
/* 3층 비디오 */
figure {
  position: relative;
  width: 100%;
  margin: auto;
display: flex;
justify-content: center;
align-items: center;
/* background-color: tomato; */
}
figure video {
  width: 100%;
max-width: 1220px;
}

/* 3층 메인 콘텐츠 */
.main-third {
  position: relative;
  background-color: rgb(252, 159, 255);
  display: flex;
  gap: 2%;
  justify-content: space-between;
  /* height: 610px; */
  padding: 0 40px;
}

/* 3층 왼쪽 텍스트 */
.left-third {
display: flex;
flex-direction: column;
justify-content: center;
gap: 10px;
/* width: 298px; */
width: 32%;
margin-top: 10px;
background-color: rgb(255, 255, 255);
}
.left-third > h1 {
  margin-bottom: 14px;
  /* gap 으로 10px 더 주고 있음 */
font-size: 26px;
  font-weight: 800;
  color: #101010;
}
.left-third > p {
  display: block;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.54;
  color: #575757;
  word-break: keep-all;
}

/* 3층 오른쪽 상품 */
.itemSwiper{
  width: 68%;
  margin-top: 10px;
display: flex;
background-color: #ffc524;
}

.itemSwiper .swiper-slide {
  
}
.itemSwiper .swiper-slide img {
  width: 100%;
}
.caption{
  padding: 20px 0;
}
.caption h3{
  font-size: 18px;
    font-weight: 700;
    word-break: keep-all;
    line-height: 1.3;
}
.caption p {
  font-size: 15px;
    font-weight: 500;
    color: #818389;
    word-break: keep-all;
    line-height: 1.3;
}
.caption p:nth-child(4){
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: #ae1522;
}
